* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  --primary-color: black;
}

button,
h2,
li {
  all: unset;
}

header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: var(--primary-color);
}

.logo {
  font-size: 2rem;
  color: white;
  margin-left: 20px;
  letter-spacing: 5px;
}

.grid {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

.project {
  display: grid;
  grid-template: 30px repeat(2, auto) / 1fr;
  height: auto;
  max-width: 100%;
  border: 1px solid rgba(211, 211, 211, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.project:hover {
  border-color: black;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 100;
  padding: 10px;
}

p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: 100;
}

.task {
  display: grid;
  align-items: center;
  grid-template: auto 1fr / auto auto 8fr 1fr;
  font-size: 1.5rem;
  padding: 10px;
}

.task:nth-child(even) {
  background-color: rgba(211, 211, 211, 0.15);
}

.expand {
  display: flex;
  justify-content: end;
  font-size: 1.25rem;
  cursor: pointer;
}

.expand:hover {
  color: grey;
}

.task-details {
  display: none;
  grid-area: 2 / 3 / 3 / 5;
  align-items: center;
  grid-template: repeat(3, auto) / auto 1fr;
  margin: 10px 0px 0px 10px;
  font-size: 1.25rem;
}

.task-details p {
  font-weight: 100;
  margin: 5px;
}

span,
h2 {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin: 5px;
  font-size: 1.25rem;
}

.show-grid {
  display: grid;
}

.priority {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  border: 2px solid;
}

.green {
  background-color: rgba(132, 204, 22, 0.5);
  border-color: rgba(132, 204, 22, 1);
}

.orange {
  background-color: rgba(249, 116, 22, 0.5);
  border-color: rgba(249, 116, 22, 1);
}

.red {
  background-color: rgba(239, 68, 68, 0.5);
  border-color: rgba(239, 68, 68, 1);
}

.edit {
  height: 25px;
  width: 25px;
  grid-area: 5 / 2 / 6 / 3;
  justify-self: flex-end;
  cursor: pointer;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-flex {
  display: flex;
}

#form {
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  flex-direction: column;
  min-width: 20vw;
  min-height: 20vw;
  border: 1px solid rgba(211, 211, 211, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  background-color: white;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

#form > input,
textarea {
  margin: 5px 0 5px 0;
  min-height: 3rem;
  padding: 10px;
  font-size: 1.25rem;
}

input {
  font-weight: 100;
  margin: 5px;
  font-size: 1.25rem;
}

input:focus,
textarea:focus {
  outline: auto;
  outline-color: rgb(0, 148, 189);
}

.input-field {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

textarea:placeholder-shown,
input:placeholder-shown {
  padding: 10px;

  font-size: 1.25rem;
}

input:last-of-type {
  display: flex;
  justify-content: flex-start;
  height: 1.5rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submit-btn,
.reset-btn {
  min-height: 3rem;
  margin: 15px 5px 5px 5px;
  font-size: 1rem;
  text-align: center;
  border: 1px black solid;
}

.submit-btn:hover {
  background-color: rgba(0, 128, 0, 0.2);
}

.reset-btn:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

/* Checkmark */

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper input[type='checkbox'] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper label {
  display: inline-block;
}

.checkbox-wrapper .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper .check:before {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.checkbox-wrapper .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.checkbox-wrapper .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.checkbox-wrapper .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.checkbox-wrapper .check:hover:before {
  opacity: 1;
}
.checkbox-wrapper .check:hover svg {
  stroke: rgb(33, 134, 33);
}
.checkbox-wrapper input[type='checkbox']:checked + .check svg {
  stroke: rgb(33, 134, 33);
}
.checkbox-wrapper input[type='checkbox']:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.checkbox-wrapper input[type='checkbox']:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
